[Unit]
Description=Web Services on Devices (WSD) daemon
; If the unit bound to is stopped, this unit will be stopped too.
BindsTo=smbd.service

[Service]
ExecStart=/usr/sbin/wsdd.py --shortlog
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
